<h1 id="liste-des-documents">Liste des documents</h1>
<ul>
<li>exemple de stratégie de développement d'un projet : le <a href="Teremin/">Teremin</a></li>
<li>exemple de projet avec un petit afficheur : <a href="CompteurPeuple/">Compteur de Peuple</a></li>
<li>Liste des capteurs / actionneurs disponibles avec des indications sur leur mise en oeuvre: <a href="materielGrove.xlsx">listeMaterielGrove</a></li>
</ul>
<p>[[<em>TOC</em>]]</p>
<h2 id="arduino-uno">Arduino Uno</h2>
<p>Savoir trouver et installer l'IDE arduino, le mettre en oeuvre pour programmer une carte.</p>
<p>activer un actionneur</p>
<p>lire un capteur</p>
<p>installer et utiliser une librairie</p>
<h3 id="broches">Broches</h3>
<p>L'arduino est équipé d'entrées/sorties <img src="Arduino-Uno-Pin-Diagram.png" /></p>
<ul>
<li>analogiques (notées analog)</li>
<li>entrées/ sorties numériques (notées digital)</li>
<li>certaines sorties numériques peuvent produite une tension variable.Ce sont les sorties PWM</li>
</ul>
<h3 id="blink">Blink</h3>
<p>premier exemple : faire clignoter une led <code>Fichier &gt; Exemples &gt; Basics &gt; Blink</code></p>
<p><a href="Blink.fzz">schéma de câblage</a></p>
<h2 id="capteurs-actionneurs">Capteurs / actionneurs</h2>
<h3 id="capteurs">capteurs</h3>
<p>Les capteurs permettent de lire une information venant de l'extérieur. Lorsqu'on met en œuvre un capteur, il peut être utile au cours du développement de réaliser une liaison <a href="#série">série</a> pour avoir un retour sur l'ordinateur, afin de bien comprendre comment celui-ci réagit</p>
<ul>
<li><a href="capteurs/analogique/">entree analogique</a></li>
<li><a href="capteurs/numerique/">entree numerique</a></li>
</ul>
<h4 id="avec-une-bibliothèque">avec une bibliothèque</h4>
<p>Certains capteurs dialogue à l'aide d'un protocole spécifique, qui nécessite l'usage de code additionnel, qui simplifie leur usage.</p>
<p>exemple : <a href="bibiotheque/capteur/">Capteur à ultrasons</a></p>
<h3 id="actionneurs">actionneurs</h3>
<h4 id="sortie-numérique">sortie numérique</h4>
<p>L'arduino UNO est pourvu de 14 entrée/sorties numériques.</p>
<p>Une sortie numérique peut produire deux tensions : 0 ou 5V</p>
<p>On s'en sert pour activer / désactiver un actionneur simple (par exemple une led)</p>
<p>exemple : faire clignoter une led <code>Fichier &gt; Exemples &gt; Basics &gt; Blink</code></p>
<p><a href="Blink.fzz">schéma de câblage</a></p>
<h4 id="sortie-pwm">sortie PWM</h4>
<p>Les sorties digitales marquées d'un ~ sont capables de produire une pseudo tension variable, comprise entre 0 et 5V.</p>
<h4 id="avec-une-bibliothèque-1">avec une bibliothèque</h4>
<p>certains actionneurs dialoguent avec l'arduino à l'aide un protocole spécifique (I2C, série ...)</p>
<p>Dans ce cas une librairie est souvent disponible</p>
<ul>
<li>exemple : <a href="bibiotheque/actionneur/Servo">Servomoteur</a></li>
</ul>
<p>D'autres composants disponibles peuvent avoir besoin d'une bibliothèque :</p>
<ul>
<li><a href="https://wiki.seeedstudio.com/Grove-LCD_RGB_Backlight/">écran LCD RGB</a> avec la bibiothèque <code>Grove-LCD RGB Backlight</code></li>
<li><a href="https://wiki.seeedstudio.com/Grove-Air_Quality_Sensor_v1.3/">Capteur de qualité de l'air</a></li>
<li><a href="https://wiki.seeedstudio.com/Grove-Finger-clip_Heart_Rate_Sensor/">capteur de rythme cardiaque</a></li>
<li><a href="https://www.adafruit.com/product/1643">Leds RVB adressables neoPixel</a></li>
</ul>
<h2 id="communication">Communication</h2>
<h3 id="série">Série</h3>
<p>La manière la plus simple d'établir une communication est d'utiliser la liaison série avec l'ordinateur.</p>
<p>Cette communication permet de transferer des messages entre l'arduino et l'ordinateur , et vice versa.</p>
<p>La liaison série peut être mise en oeuvre dans l'ordinateur, soit avec le moniteur série de L'IDE arduino, soit avec un programme réalisé avec processing, flash, puredata, max/msp, python etc...</p>
<p>Tous les exemples suivants contiennent un code <a href="https://processing.org/">processing</a> commenté en fin croquis, à copier coller dans processing pour éventuellement traiter les données dans ce programme.</p>
<h4 id="arduino-ordinateur">arduino &gt; ordinateur</h4>
<p>L'exemple suivant communique à l'ordinateur la valeur d'une entrée analogique.</p>
<p><code>Fichier &gt; Exemples &gt; 04.Communication &gt; Graph</code></p>
<p>Pour afficher la valeur reçue, après le téléchargement du croquis sur l'arduino, ouvrir :</p>
<p><code>Outils &gt; Moniteur série</code> affiche les valeurs numériques reçues</p>
<p>ou</p>
<p><code>Outils &gt; Traceur série</code> affiche une courbe des valeurs numériques reçues ___</p>
<p><code>Fichier &gt; Exemples &gt; 04.Communication &gt; VirtualColorMixer</code> montre un exemple envoyant plusieurs valeurs à la fois.</p>
<p>Dans ce cas, seul le <code>Outils &gt; Moniteur série</code> est utilisable.</p>
<h4 id="ordinateur-arduino">ordinateur &gt; arduino</h4>
<h5 id="analogique">analogique</h5>
<p><code>Fichier &gt; Exemples &gt; 04.Communication &gt; Dimmer</code></p>
<p>Cet exemple permet de régler la luminance d'une led à l'aide de valeurs comprises entre 0 et 255, envoyées via le moniteur série :</p>
<p><code>Outils &gt; Moniteur série</code></p>
<h5 id="numérique">numérique</h5>
<p><code>Fichier &gt; Exemples &gt; 04.Communication &gt; PhysicalPixel</code></p>
<p>Cet exemple permet d'activer ou de désactiver une sortie numérique en fonction d'un code envoyé depuis l'ordinateur ( en l'occurence, <code>H</code> ou <code>L</code>).</p>
<h3 id="esp32-wifi-smartphone">ESP32 / wifi smartphone</h3>
<p>L'ESP32 est une carte alternative à l'arduino UNO de base. Elle offre une connectivité wifi. Pour l'utiliser, il est nécessaire de charger la définition de cette carte.</p>
<p>piloter un ESP32 à l'aide d'un smartphone via wifi</p>
<p>exemple de programmation d'une carte tierce avec le logiciel arduino Création d'un serveur web minimal et utilisation à l'aide d'un samrtphone</p>
<p><a href="https://www.aranacorp.com/fr/programmer-un-nodemcu-esp32-avec-lide-arduino/">à suivre...</a></p>
<h2 id="ressources">Ressources</h2>
<p><a href="https://fr.flossmanuals.net/arduino/historique-du-projet-arduino/">FlossManual Arduino</a></p>
<p><a href="https://forum.arduino.cc/index.php?board=33.0">Forum Arduino Français</a></p>
<p><a href="https://fritzing.org/">Fritzing</a> pour dessiner facilement un schéma</p>
<p><a href="https://create.arduino.cc/projecthub">Gallerie de projets Arduino</a></p>
<p><a href="https://www.instructables.com/howto/arduino/">instructables</a></p>
<h3 id="liste-de-matériel">Liste de matériel</h3>
<p><a href="materielGrove.xlsx" class="uri">materielGrove.xlsx</a></p>
